
@attribute [Route(Routes.Blazor.Tests)]

@inject ITestHubConnection HubConnection

<h3> Tests </h3>

<InputText @bind-Value="@textInputValue" />

<div id="echo-tests">
  <button @onclick="@(() => HubConnection.SendMessageAsync(textInputValue))">Send echo</button>
</div>

<div id="throughput-test">
  <button onclick="@(() => HubConnection.TestThroughputAsync(textInputValue))">Throughput test</button>
</div>

<br />

<div id="test-count">
  <InputNumber @bind-Value="@repeatCount" TValue="int"></InputNumber>
  <button @onclick="@CountTestAsync">Count Test, view dashboard on engine</button>
</div>

@code {

    int repeatCount = 2;

    string textInputValue = string.Empty;

    async Task CountTestAsync()
    {
      await HubConnection.CountMovesTest(new CountMovesDto { FEN = "rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", Depth = 2 });
  }
}